body,
html {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
body.overflow,
html.overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

input {
  outline: none;
  border: none;
}
input:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}
button:focus {
  outline: none;
}

.bg-product_icon4 {
  width: 76px;
  height: 64px;
  background: url("../img/css_sprites.png") -222px -10px;
}

.bg-product_icon4_hover {
  width: 76px;
  height: 64px;
  background: url("../img/css_sprites.png") -222px -94px;
}

.bg-product_icon5 {
  width: 86px;
  height: 77px;
  background: url("../img/css_sprites.png") -10px -10px;
}

.bg-product_icon5_hover {
  width: 86px;
  height: 77px;
  background: url("../img/css_sprites.png") -116px -10px;
}

.bg-product_icon6 {
  width: 46px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -359px;
}

.bg-product_icon6_hover {
  width: 46px;
  height: 64px;
  background: url("../img/css_sprites.png") -76px -359px;
}

.bg-product_icon8 {
  width: 85px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -107px;
}

.bg-product_icon8_hover {
  width: 85px;
  height: 64px;
  background: url("../img/css_sprites.png") -115px -107px;
}

.bg-product_icon9 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -182px -191px;
}

.bg-product_icon9_hover {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -318px -10px;
}

.bg-product_icon10 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -318px -94px;
}

.bg-product_icon10_hover {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -318px -178px;
}

.bg-product_icon11 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -275px;
}

.bg-product_icon11_hover {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -94px -275px;
}

.bg-arrow_left_small {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -266px -236px;
}

.bg-arrow_right_small_white {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -344px -320px;
}

.bg-arrow_left_small_white {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -371px -320px;
}

.bg-arrow_right_small {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -212px -359px;
}

.bg-arrow_left {
  width: 15px;
  height: 25px;
  background: url("../img/css_sprites.png") -142px -359px;
}

.bg-arrow_left_white {
  width: 16px;
  height: 25px;
  background: url("../img/css_sprites.png") -266px -191px;
}

.bg-arrow_right {
  width: 15px;
  height: 25px;
  background: url("../img/css_sprites.png") -177px -359px;
}

.bg-arrow_right_white {
  width: 16px;
  height: 25px;
  background: url("../img/css_sprites.png") -344px -275px;
}

.bg-product_icon1 {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -178px -275px;
}

.bg-product_icon1_hover {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -261px -275px;
}

.bg-product_icon2 {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -10px;
}

.bg-product_icon2_hover {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -94px;
}

.bg-product_icon3 {
  width: 66px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -191px;
}

.bg-product_icon3_hover {
  width: 66px;
  height: 64px;
  background: url("../img/css_sprites.png") -96px -191px;
}

.bg-product_icon7_hover {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -178px;
}

.bg-product_icon7 {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -262px;
}

@font-face {
  font-family: "Adigiana 2";
  src: url("../fonts/Adigiana2.woff2") format("woff2"), url("../fonts/Adigiana2.woff") format("woff"), url("../fonts/Adigiana2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.traditional-dishes {
  background: #797f2a;
  padding: 35px 15px;
  position: relative;
  z-index: 0;
}
@media (min-width: 576px) {
  .traditional-dishes {
    padding: 35px 20px;
  }
}
@media (min-width: 768px) {
  .traditional-dishes {
    padding: 50px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 960px) {
  .traditional-dishes {
    padding: 50px 35px;
  }
}
@media (min-width: 1280px) {
  .traditional-dishes {
    padding: 90px 40px;
  }
}
@media (min-width: 1500px) {
  .traditional-dishes {
    padding: 90px 100px;
  }
}
.traditional-dishes:after {
  content: "";
  background-image: url(../img/traditional-dishes-style-img.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 210px;
  height: 394px;
  position: absolute;
  top: 30px;
  right: -85px;
  z-index: -1;
}
@media (min-width: 576px) {
  .traditional-dishes:after {
    right: -53px;
  }
}
@media (min-width: 768px) {
  .traditional-dishes:after {
    right: -82px;
  }
}
@media (min-width: 960px) {
  .traditional-dishes:after {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1280px) {
  .traditional-dishes:after {
    width: 262px;
    height: 494px;
    right: -60px;
  }
}
@media (min-width: 1500px) {
  .traditional-dishes:after {
    width: 346px;
    height: 652px;
    right: -110px;
  }
}
.traditional-dishes__img-wrap {
  max-width: 284px;
  width: 100%;
  margin: 0 auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .traditional-dishes__img-wrap {
    max-width: inherit;
    width: calc(40% - 15px);
    margin: 0;
  }
}
@media (min-width: 960px) {
  .traditional-dishes__img-wrap {
    width: calc(43% - 20px);
  }
}
@media (min-width: 1500px) {
  .traditional-dishes__img-wrap {
    width: calc(45% - 40px);
  }
}
.traditional-dishes__img-wrap-img {
  width: 100%;
}
@media (min-width: 768px) {
  .traditional-dishes__info {
    width: calc(60% - 15px);
  }
}
@media (min-width: 960px) {
  .traditional-dishes__info {
    width: calc(57% - 20px);
  }
}
@media (min-width: 1500px) {
  .traditional-dishes__info {
    width: calc(55% - 40px);
  }
}
.traditional-dishes__info-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  max-width: 460px;
  margin: 0 auto 10px;
}
@media (min-width: 576px) {
  .traditional-dishes__info-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .traditional-dishes__info-title {
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
    max-width: 100%;
  }
}
@media (min-width: 960px) {
  .traditional-dishes__info-title {
    max-width: 540px;
  }
}
@media (min-width: 1280px) {
  .traditional-dishes__info-title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
    max-width: 620px;
  }
}
@media (min-width: 1500px) {
  .traditional-dishes__info-title {
    font-size: 50px;
    line-height: 60px;
  }
}
.traditional-dishes__info-subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #232323;
  text-align: center;
}
@media (min-width: 768px) {
  .traditional-dishes__info-subtitle {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .traditional-dishes__info-subtitle {
    max-width: 580px;
  }
}
@media (min-width: 1280px) {
  .traditional-dishes__info-subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: 700px;
  }
}
@media (min-width: 1500px) {
  .traditional-dishes__info-subtitle {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
    max-width: 790px;
  }
}
.traditional-dishes__info-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .traditional-dishes__info-text {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .traditional-dishes__info-text {
    max-width: 580px;
  }
}
@media (min-width: 1280px) {
  .traditional-dishes__info-text {
    max-width: 660px;
    font-size: 17px;
    line-height: 25px;
  }
}
@media (min-width: 1500px) {
  .traditional-dishes__info-text {
    font-size: 20px;
    line-height: 30px;
    max-width: 727px;
  }
}

.delivery-restaurant {
  background: #232323;
  padding-top: 15px;
  position: relative;
  z-index: 0;
}
@media (min-width: 960px) {
  .delivery-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant {
    padding-top: 40px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant {
    padding-top: 50px;
    padding-left: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.delivery-restaurant:after {
  content: "";
  background: url(../img/chef-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 195px;
  position: absolute;
  top: 0;
  right: -15px;
  z-index: -1;
}
@media (min-width: 960px) {
  .delivery-restaurant:after {
    right: inherit;
    left: 315px;
    top: 35px;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant:after {
    width: 130px;
    height: 257px;
    top: 40px;
    left: 445px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant:after {
    width: 168px;
    height: 331px;
    left: 545px;
    top: 80px;
  }
}
.delivery-restaurant__info {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .delivery-restaurant__info {
    padding: 0 24px;
  }
}
@media (min-width: 960px) {
  .delivery-restaurant__info {
    min-width: 340px;
    margin-right: 60px;
    padding-right: 0;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant__info {
    min-width: 510px;
    margin-right: 30px;
    padding-left: 40px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__info {
    min-width: 560px;
    padding-left: 0;
    margin-right: 80px;
    margin-bottom: 50px;
  }
}
.delivery-restaurant__info-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: white;
  margin-bottom: 10px;
}
.delivery-restaurant__info-title_orange {
  color: #f16e20;
}
@media (min-width: 576px) {
  .delivery-restaurant__info-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}
@media (min-width: 960px) {
  .delivery-restaurant__info-title {
    margin-bottom: 10px;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant__info-title {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__info-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
}
.delivery-restaurant__info-subtitle {
  font-size: 14px;
  line-height: 15px;
  color: #af9a8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 576px) {
  .delivery-restaurant__info-subtitle {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (min-width: 960px) {
  .delivery-restaurant__info-subtitle {
    font-size: 17px;
    line-height: 25px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__info-subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}
.delivery-restaurant__info-subtitle-img {
  margin-right: 14px;
  align-self: flex-start;
  margin-top: 3px;
}
@media (min-width: 576px) {
  .delivery-restaurant__info-subtitle-img {
    margin-right: 24px;
  }
}
@media (min-width: 960px) {
  .delivery-restaurant__info-subtitle-img {
    margin-top: 7px;
  }
}
.delivery-restaurant__slider-wrap {
  position: relative;
}
@media (min-width: 960px) {
  .delivery-restaurant__slider-wrap {
    width: calc(100% - 400px);
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant__slider-wrap {
    width: calc(100% - 540px);
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-wrap {
    width: calc(100% - 640px);
  }
}
.delivery-restaurant__slider-navigation button {
  z-index: 10;
  width: 28px;
  height: 28px;
  background: #8bc43f;
  border-radius: 5px;
  transform: rotate(45deg);
  position: absolute;
  margin-top: -20px;
}
@media (min-width: 960px) {
  .delivery-restaurant__slider-navigation button {
    width: 42px;
    height: 42px;
    border-radius: 10px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button {
    width: 70px;
    height: 70px;
  }
}
.delivery-restaurant__slider-navigation button:before {
  content: none;
}
.delivery-restaurant__slider-navigation button:hover {
  background: #d20000;
}
.delivery-restaurant__slider-navigation button.slick-prev {
  left: 5px;
}
@media (min-width: 960px) {
  .delivery-restaurant__slider-navigation button.slick-prev {
    margin-top: 0px;
    left: 3px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button.slick-prev {
    left: -10px;
  }
}
.delivery-restaurant__slider-navigation button.slick-prev:before {
  content: "";
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -344px -320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(134deg);
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button.slick-prev:before {
    width: 16px;
    height: 25px;
    background: url("../img/css_sprites.png") -344px -275px;
    top: 56%;
    left: 48%;
  }
}
.delivery-restaurant__slider-navigation button.slick-prev:after {
  content: "";
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -212px -359px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(134deg);
  z-index: 1;
  transition: 0.3s;
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button.slick-prev:after {
    width: 15px;
    height: 25px;
    top: 56%;
    left: 48%;
    background: url("../img/css_sprites.png") -177px -359px;
  }
}
.delivery-restaurant__slider-navigation button.slick-prev:hover:after {
  opacity: 0;
}
.delivery-restaurant__slider-navigation button.slick-prev:hover:before {
  opacity: 1;
}
.delivery-restaurant__slider-navigation button.slick-next {
  right: 5px;
}
@media (min-width: 960px) {
  .delivery-restaurant__slider-navigation button.slick-next {
    left: 3px;
    right: inherit;
    margin-top: -60px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button.slick-next {
    margin-top: -110px;
    left: -10px;
  }
}
.delivery-restaurant__slider-navigation button.slick-next:before {
  content: "";
  background: url("../img/css_sprites.png") -371px -320px;
  width: 7px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(134deg);
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button.slick-next:before {
    width: 16px;
    height: 25px;
    background: url("../img/css_sprites.png") -266px -191px;
    left: 54%;
  }
}
.delivery-restaurant__slider-navigation button.slick-next:after {
  content: "";
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -266px -236px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(134deg);
  z-index: 1;
  transition: 0.3s;
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-navigation button.slick-next:after {
    width: 15px;
    height: 25px;
    left: 54%;
    background: url("../img/css_sprites.png") -142px -359px;
  }
}
.delivery-restaurant__slider-navigation button.slick-next:hover:after {
  opacity: 0;
}
.delivery-restaurant__slider-navigation button.slick-next:hover:before {
  opacity: 1;
}
.delivery-restaurant__persent {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 3px;
  display: block;
  color: #ffffff;
  font-family: "Adigiana 2";
}
@media (min-width: 576px) {
  .delivery-restaurant__persent {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant__persent {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__persent {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 10px;
  }
}
.delivery-restaurant__discount {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 9px;
  max-width: 208px;
  display: inline-block;
  color: #ffffff;
}
@media (min-width: 576px) {
  .delivery-restaurant__discount {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant__discount {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__discount {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 55px;
  }
}
.delivery-restaurant__slider-item-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 1280px) {
  .delivery-restaurant__slider-item-texts {
    margin-top: auto;
  }
}
.delivery-restaurant__promocode {
  font-size: 13px;
  line-height: 13px;
  margin-right: 10px;
  color: #ffffff;
}
.delivery-restaurant__promocode-style {
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background: #d20000;
  padding: 6px 10px;
  border-radius: 15px;
}
.delivery-restaurant__slider .slick-list {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .delivery-restaurant__slider .slick-list {
    margin-left: 24px;
  }
}
.delivery-restaurant__slider-item {
  width: 270px;
  overflow: hidden;
  height: 130px;
  margin: 20px 15px 40px;
  filter: drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #f16e20) drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #f16e20) drop-shadow(10px 10px 8px rgba(241, 110, 32, 0.3));
  border-radius: 20px;
  padding: 15px 10px 10px 20px;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
@media (min-width: 576px) {
  .delivery-restaurant__slider-item {
    width: 348px;
    height: 170px;
    padding: 20px;
    margin-top: 25px;
  }
}
@media (min-width: 960px) {
  .delivery-restaurant__slider-item {
    width: 362px;
    height: 177px;
    padding: 30px;
    padding-bottom: 15px;
    margin-top: 10px;
  }
}
@media (min-width: 1280px) {
  .delivery-restaurant__slider-item {
    margin-bottom: 50px;
    width: 482px;
    height: 235px;
    padding-bottom: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 1500px) {
  .delivery-restaurant__slider-item {
    width: 700px;
    height: 340px;
    padding: 40px 50px;
  }
}
.delivery-restaurant__slider-item:focus {
  overflow: none;
}
.delivery-restaurant__slider-item:nth-child(odd) {
  filter: drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #af9a8c) drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #af9a8c) drop-shadow(10px 10px 8px rgba(241, 110, 32, 0.3));
}
.delivery-restaurant__slider-item-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 20px;
  height: 100%;
}
.delivery-restaurant__slider-item:hover {
  filter: drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #f16e20) drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #f16e20) drop-shadow(20px 12px 10px rgba(241, 110, 32, 0.3));
}
.delivery-restaurant__slider-item:hover:nth-child(odd) {
  filter: drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #af9a8c) drop-shadow(2px 2px 0px #161616) drop-shadow(2px 2px 0px #af9a8c) drop-shadow(20px 12px 10px rgba(241, 110, 32, 0.3));
}

.gift-progress {
  background: #f16e20;
  padding: 10px 6px;
}
@media (min-width: 576px) {
  .gift-progress {
    padding: 10px 15px;
  }
}
@media (min-width: 960px) {
  .gift-progress {
    padding: 15px 24px;
  }
}
@media (min-width: 1280px) {
  .gift-progress {
    padding: 15px 40px;
  }
}
@media (min-width: 1500px) {
  .gift-progress {
    padding: 20px 100px;
  }
}
.gift-progress__wrap {
  width: 100%;
  background: #2e2e2e;
  border-radius: 30px;
  overflow: hidden;
  color: #fff;
  height: 60px;
  box-sizing: border-box;
}
.gift-progress__content {
  position: relative;
  z-index: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.gift-progress__info {
  border-radius: 30px;
  display: flex;
  padding: 5px;
  align-items: center;
  background: #8bc43f;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .gift-progress__info {
    padding-right: 20px;
  }
}
.gift-progress__info-text {
  background: #8bc43f;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Adigiana 2";
  color: white;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.gift-progress__info-text img {
  margin-right: 12px;
  width: 22px;
}
@media (min-width: 1500px) {
  .gift-progress__info-text img {
    width: 26px;
  }
}
.gift-progress__info-text:hover {
  background: #d20000;
}
.gift-progress__info-text.active {
  background: #d20000;
}
.gift-progress__info-btn {
  margin-left: 5px;
  font-size: 14px;
  margin-top: 3px;
  display: none;
}
@media (min-width: 768px) {
  .gift-progress__info-btn {
    display: inline-block;
  }
}
@media (min-width: 960px) {
  .gift-progress__info-btn {
    font-size: 15px;
  }
}
.gift-progress__size {
  display: flex;
  margin-left: -5px;
  padding-right: 30px;
  align-items: flex-end;
  flex-grow: 1;
  position: relative;
}
@media (min-width: 576px) {
  .gift-progress__size {
    padding-right: 45px;
  }
}
.gift-progress__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  width: 100%;
}
.gift-progress__list li {
  position: relative;
  width: 6.6666666667%;
  height: 15px;
}
.gift-progress__list li:last-child {
  width: 1px;
}
.gift-progress__list li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 7px;
  background: #fff;
}
.gift-progress__list li:before {
  content: attr(data-value);
  position: absolute;
  top: 0px;
  left: 0;
  transform: translate(-50%, -20px);
  font-size: 13px;
  color: white;
}
@media (min-width: 576px) {
  .gift-progress__list li:before {
    font-size: 15px;
    top: -5px;
  }
}
@media (min-width: 1500px) {
  .gift-progress__list li:before {
    font-size: 20px;
    top: -8px;
    left: 3px;
  }
}
.gift-progress__list li.point {
  height: 15px;
}
.gift-progress__list li.point:after {
  height: 15px;
}
.gift-progress__style {
  position: absolute;
  height: 100%;
  background: #8bc43f;
  border-radius: 30px;
  z-index: -1;
  top: 0;
}
.gift-progress__style:before {
  content: none;
  position: absolute;
  top: 0;
  left: -50px;
  background: #8bc43f;
  width: 100px;
  height: 100%;
  border-radius: 30px;
}
.gift-progress .gift-progress-active:before {
  content: "";
}

.footer {
  padding: 20px 15px;
  background: white;
}
@media (min-width: 576px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 24px;
  }
}
@media (min-width: 960px) {
  .footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 30px 24px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 30px 40px;
  }
}
@media (min-width: 1500px) {
  .footer {
    padding: 60px 100px;
  }
}
.footer__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .footer__logo-wrap {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .footer__logo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
  }
}
.footer__logo {
  margin-right: 10px;
}
@media (min-width: 960px) {
  .footer__logo {
    margin-bottom: 15px;
  }
}
.footer__logo-texts {
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 960px) {
  .footer__logo-texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__copyright {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 8px;
  max-width: 200px;
}
@media (min-width: 960px) {
  .footer__copyright {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.footer__address {
  font-size: 13px;
  line-height: 20px;
  color: #161616;
  max-width: 210px;
}
@media (min-width: 960px) {
  .footer__address {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__info {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 960px) {
  .footer__info {
    width: auto;
  }
}
.footer__info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__info > div {
    margin: 0;
    margin-bottom: 30px;
  }
}
.footer__phone-number {
  font-family: "Adigiana 2";
  font-size: 20px;
  line-height: 23px;
  color: #000;
  margin-bottom: 6px;
}
@media (min-width: 960px) {
  .footer__phone-number {
    font-size: 25px;
  }
}
.footer__phone-time {
  font-size: 14px;
  line-height: 14px;
}
.footer__phone-time time {
  font-weight: bold;
}
.footer__phone > img {
  width: 22px;
  margin-right: 13px;
}
@media (min-width: 960px) {
  .footer__phone > img {
    width: 30px;
    margin-right: 15px;
  }
}
@media (min-width: 1280px) {
  .footer__phone > img {
    width: 35px;
  }
}
.footer__location > img {
  width: 22px;
  margin-right: 13px;
}
@media (min-width: 960px) {
  .footer__location > img {
    width: 30px;
    margin-right: 15px;
  }
}
@media (min-width: 1280px) {
  .footer__location > img {
    width: 35px;
  }
}
.footer__location-text {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}
.footer__location-address {
  font-size: 14px;
}
.footer__menu-wrap {
  margin: 30px 0;
}
@media (min-width: 576px) {
  .footer__menu-wrap {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .footer__menu-wrap {
    width: auto;
    margin: 0;
  }
}
.footer__privacy-policy {
  font-size: 13px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #af9a8c;
}
@media (min-width: 960px) {
  .footer__privacy-policy {
    font-size: 14px;
  }
}
.footer__menu-item {
  margin-bottom: 15px;
}
@media (min-width: 1280px) {
  .footer__menu-item {
    margin-bottom: 25px;
  }
}
.footer__menu-link {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
@media (min-width: 1280px) {
  .footer__menu-link {
    font-size: 20px;
  }
}
.footer__menu-link:hover {
  color: #f16e20;
}
@media (min-width: 960px) {
  .footer__menu-link {
    font-size: 15px;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}
@media (min-width: 576px) {
  .footer__contacts {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 30px;
  }
}
@media (min-width: 960px) {
  .footer__contacts {
    width: auto;
    margin-top: 0;
  }
}
.footer__contacts-info-text {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer__contacts-info-partner-logo {
  width: 130px;
}
.footer__contacts-info-partner-logo img {
  width: 100%;
}
.footer__social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 576px) {
  .footer__social-menu {
    margin-bottom: 20px;
  }
}
.footer__social-menu-item {
  margin-right: 25px;
}

.products {
  padding: 30px 15px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: repeat(11, 200px);
  grid-gap: 4px;
}
@media (min-width: 576px) {
  .products {
    grid-template-rows: repeat(11, 400px);
  }
}
.products__item {
  position: relative;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__item:after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 20px;
}
.products__item:hover:after {
  background: rgba(0, 0, 0, 0.3);
}
.products__item:hover .products__item-bg {
  transform: scale(1.1);
}
.products__item-bg {
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
  height: 100%;
  z-index: -1;
}
.products__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}
.products__item-img {
  width: 30px;
  margin-right: 10px;
}
.products__item-text {
  font-size: 13px;
  font-weight: bold;
  color: white;
}
.products__item8 {
  grid-column: span 1;
  grid-row: span 1;
}

.order-wrap {
  background: #232323;
  padding: 100px;
  padding-top: 50px;
}
@media (max-width: 1500px) {
  .order-wrap {
    padding: 40px;
    padding-bottom: 70px;
  }
}
@media (max-width: 1280px) {
  .order-wrap {
    padding: 50px 24px;
  }
}
@media (max-width: 576px) {
  .order-wrap {
    padding: 40px 15px 10px;
  }
}

.order {
  border: 1px solid #af9a8c;
  border-radius: 50px;
  padding: 60px;
  padding-bottom: 0;
}
@media (max-width: 1500px) {
  .order {
    padding: 40px;
    padding-bottom: 0;
  }
}
@media (max-width: 1280px) {
  .order {
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .order {
    padding: 20px;
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  .order {
    padding: 0;
    border: none;
  }
}
.order__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  color: white;
}
@media (max-width: 1500px) {
  .order__title {
    font-size: 45px;
    line-height: 100%;
  }
}
@media (max-width: 1280px) {
  .order__title {
    font-size: 30px;
  }
}
.order__slider .slick-list {
  margin: 0 -15px;
}
@media (max-width: 1280px) {
  .order__slider .slick-list {
    margin: 0 -10px;
  }
}
@media (max-width: 961px) {
  .order__slider .slick-list {
    margin: 0;
  }
}
.order__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 40px 15px 60px;
  transition: 0.3s;
}
@media (max-width: 1500px) {
  .order__slider-item {
    margin: 30px 15px 40px;
  }
}
@media (max-width: 1280px) {
  .order__slider-item {
    margin: 20px 10px 30px;
  }
}
@media (max-width: 961px) {
  .order__slider-item {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .order__slider-item {
    width: 210px;
  }
}
@media (max-width: 576px) {
  .order__slider-item {
    width: 164px;
    margin: 20px 7px;
  }
}
.order__slider-item.active .order__slider-img {
  border: 2px solid #8bc43f;
}
.order__slider-img {
  width: 100%;
  height: 14vw;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .order__slider-img {
    margin-bottom: 15px;
  }
}
@media (max-width: 961px) {
  .order__slider-img {
    height: 140px;
  }
}
@media (max-width: 768px) {
  .order__slider-img {
    height: 150px;
  }
}
@media (max-width: 576px) {
  .order__slider-img {
    height: 114px;
  }
}
.order__slider-img img {
  transition: 0.3s;
}
.order__slider-img:hover img {
  transform: scale(1.1);
}
.order__slider-new {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: white;
  font-family: "Adigiana 2";
  width: 50px;
  height: 50px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1500px) {
  .order__slider-new {
    font-size: 17px;
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1280px) {
  .order__slider-new {
    font-size: 14px;
    width: 26px;
    height: 26px;
    top: 15px;
    right: 15px;
  }
}
@media (max-width: 961px) {
  .order__slider-new {
    margin-bottom: 5px;
  }
}
@media (max-width: 576px) {
  .order__slider-new {
    width: 22px;
    height: 22px;
    font-size: 13px;
    top: 10px;
    right: 10px;
  }
}
.order__slider-new:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f16e20;
  border-radius: 5px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  z-index: -1;
}
.order__slider-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.order__slider-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.order__slider-name {
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  color: white;
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 1500px) {
  .order__slider-name {
    font-size: 20px;
    line-height: 110%;
  }
}
@media (max-width: 1280px) {
  .order__slider-name {
    font-size: 17px;
  }
}
@media (max-width: 576px) {
  .order__slider-name {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.order__slider-price-text {
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  color: #af9a8c;
}
@media (max-width: 1280px) {
  .order__slider-price-text {
    margin-bottom: 10px;
  }
}
.order__slider-text {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: white;
}
@media (max-width: 1280px) {
  .order__slider-text {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width: 576px) {
  .order__slider-text {
    font-size: 12px;
  }
}
.order__slider-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 35px;
}
@media (max-width: 1500px) {
  .order__slider-price {
    margin-top: 25px;
  }
}
@media (max-width: 576px) {
  .order__slider-price {
    margin-top: 20px;
  }
}
.order__slider-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.order__slider-new-price {
  font-size: 25px;
  color: white;
}
@media (max-width: 1500px) {
  .order__slider-new-price {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .order__slider-new-price {
    font-size: 17px;
  }
}
.order__slider-old-price {
  font-size: 15px;
  text-decoration-line: line-through;
  color: #d20000;
  margin-top: 1px;
}
@media (max-width: 576px) {
  .order__slider-old-price {
    font-size: 13px;
  }
}

.red-btn {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #d20000;
  box-shadow: 2px 2px 0px #232323, 4px 4px 0px #d20000;
  border-radius: 10px;
}
@media (max-width: 1500px) {
  .red-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
@media (max-width: 961px) {
  .red-btn {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .red-btn {
    font-size: 12px;
    padding: 6px 10px;
  }
}
.red-btn:hover {
  box-shadow: none;
  background: #ff0606;
}

.header {
  overflow: hidden;
}
.header__logo {
  width: 100px;
}
@media (min-width: 1280px) {
  .header__logo {
    width: 130px;
  }
}
@media (min-width: 1500px) {
  .header__logo {
    width: 160px;
  }
}
.header__logo img {
  width: 100%;
}
.header__drop-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f16e20;
}
@media (min-width: 1280px) {
  .header__drop-menu {
    display: none;
  }
}
.header__main-menu {
  display: none;
}
@media (min-width: 1280px) {
  .header__main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__main-menu-item {
    margin: 0 8px;
  }
  .header__main-menu-item:hover .header__main-menu-link {
    background: #f16e20;
    color: #000;
  }
  .header__main-menu-item_active .header__main-menu-link {
    background: #f16e20;
    color: #000;
  }
  .header__main-menu-link {
    padding: 6px 10px;
    background: #2c2c2c;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #af9a8c;
  }
}
@media (min-width: 1500px) {
  .header__main-menu a {
    padding: 8px 15px;
    font-size: 14px;
  }
}
.header__basket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 50;
}
.header__basket-icon {
  border-radius: 50%;
  background: #000;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__basket-icon img {
  margin: auto;
  width: 25px;
}
.header__basket-resault {
  position: absolute;
  border-radius: 50%;
  background: #f16e20;
  padding: 3px;
  top: 1px;
  left: 38px;
  min-width: 18px;
  min-height: 18px;
  color: white;
  font-size: 10px;
}
.header__basket-resault-text {
  background: #d9d9d9;
  border-radius: 10px;
  min-width: 130px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
  padding-left: 35px;
  justify-content: flex-end;
  margin-left: -35px;
}
.header__basket-info {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 420px;
  background: #83892e;
  border-radius: 20px;
  height: 100%;
  max-height: 720px;
  padding: 100px 20px 40px 30px;
  overflow-y: auto;
  z-index: 49;
  transform: translateY(-100%) translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
@media (min-width: 576px) {
  .header__basket-info {
    left: 60%;
  }
}
@media (min-width: 768px) {
  .header__basket-info {
    left: 67%;
  }
}
@media (min-width: 1280px) {
  .header__basket-info {
    left: inherit;
    right: 1%;
    transform: translateY(0) translateX(0) !important;
  }
}
.header__basket-info.open {
  transform: translateY(0) translateX(-50%);
  visibility: visible;
  opacity: 1;
}
.header__basket-info .red-btn {
  width: 100%;
  height: 60px;
  font-size: 25px;
}
.header__basket-info .basket-info-items {
  height: 480px;
  overflow: hidden;
  margin-bottom: 30px;
}
.header__basket-info .basket-info-items_scroll {
  height: 100%;
  overflow: auto;
  padding-right: 20px;
}
.header__basket-info .basket-info-items_scroll::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.header__basket-info .basket-info-items_scroll::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}
.header__basket-info .basket-info-items_scroll::-webkit-scrollbar-thumb {
  background: #d20000;
  border-radius: 10px;
}
.header__basket-info .basket-info-item {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.header__basket-info .basket-info-item-calculate-price {
  font-size: 25px;
  color: white;
}
.header__basket-info .basket-info-item-calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__basket-info .basket-info-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header__basket-info .basket-info-item-top span {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: white;
}
.header__basket-info .basket-info-item-top button {
  margin-left: 15px;
  align-self: flex-start;
}
.header__basket-info .basket-info-item-product-count {
  background: #d9d9d9;
  border-radius: 10px;
  min-width: 100px;
  overflow: hidden;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__basket-info .basket-info-item-product-count button {
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #d9d9d9;
}
.header__basket-info .basket-info-item-product-count button.btn-plus {
  justify-content: flex-end;
}
.header__basket-info .basket-info-item-product-count input {
  width: 35px;
  text-align: center;
  padding: 0 5px;
  background: #d9d9d9;
  font-size: 15px;
  color: #000;
}
.header__top {
  padding: 10px 15px;
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__top {
    padding: 10px 24px;
  }
}
@media (min-width: 1280px) {
  .header__top {
    padding: 10px 40px;
  }
}
@media (min-width: 1500px) {
  .header__top {
    padding: 10px 100px;
  }
}
.header__mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.header__mobile-menu-item {
  margin: 0 5px 10px;
}
.header__mobile-menu-link {
  background: #232323;
  border-radius: 10px;
  padding: 11px 23px;
  font-size: 14px;
  font-weight: bold;
  color: #af9a8c;
}
.header__product-list-item {
  margin-bottom: 15px;
}
.header__product-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__product-list-link-icon {
  width: 60px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}
.header__product-list-link-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.header__menu-wrap {
  background: #f16e20;
  padding: 10px 15px 30px;
  overflow-y: auto;
  height: 100%;
  position: absolute;
  z-index: 60;
  top: 0;
  right: 0;
  transition: 0.3s;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}
.header__menu-wrap.open {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.header__menu-wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}
.header__menu-wrap-top-logo {
  width: 100px;
}
.header__menu-wrap-top-logo img {
  width: 100%;
}
.header__menu-wrap-top-close {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-wrap-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 29px;
  color: white;
  font-family: "Adigiana 2";
}
.header__menu-wrap-phone img {
  margin-right: 10px;
}
.header__phone-info {
  display: none;
}
@media (min-width: 576px) {
  .header__phone-info {
    display: block;
  }
  .header__phone-info a {
    font-size: 20px;
    line-height: 23px;
    color: white;
    font-family: "Adigiana 2";
    margin-bottom: 5px;
  }
  .header__phone-info p {
    font-size: 12px;
    color: white;
  }
  .header__phone-info p time {
    font-weight: bold;
  }
}
@media (min-width: 1280px) {
  .header__phone-info a {
    font-size: 22px;
  }
  .header__phone-info p {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  .header__phone-info a {
    font-size: 30px;
  }
}
.header__location {
  display: none;
}
@media (min-width: 768px) {
  .header__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__location > img {
  width: 24px;
  margin-right: 10px;
}
.header__location-text {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  color: white;
}
@media (min-width: 1280px) {
  .header__location-text {
    font-size: 14px;
  }
}
.header__location-address {
  font-size: 12px;
  color: #af9a8c;
}
@media (min-width: 1280px) {
  .header__location-address {
    font-size: 14px;
  }
}
.header__info {
  background: #161616;
  padding: 10px 0 0 15px;
  overflow: hidden;
}
@media (min-width: 960px) {
  .header__info {
    overflow: visible;
    background: #232323;
    padding: 10px 0;
  }
}
.header__info-wrap {
  overflow-x: auto;
  padding-bottom: 20px;
}
.header__info-wrap::-webkit-scrollbar {
  width: 0px;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 960px) {
  .header__info-wrap {
    padding: 20px;
    position: relative;
    z-index: 0;
  }
  .header__info-wrap:after {
    content: "";
    background: url(../img/header-style.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
  }
}
.header__info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .header__info-items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 960px) {
  .header__info-items {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.header__info-item {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 55px;
  min-width: 55px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .header__info-item {
    max-width: inherit;
    min-width: inherit;
    margin-right: 0;
    max-width: 80px;
  }
}
@media (min-width: 960px) {
  .header__info-item {
    max-width: 60px;
  }
}
@media (min-width: 1280px) {
  .header__info-item {
    max-width: 80px;
  }
}
.header__info-item-icon {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 0.1s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 1280px) {
  .header__info-item-icon {
    margin-bottom: 15px;
  }
}
.header__info-item:nth-child(1) .header__info-item-icon {
  width: 27px;
  height: 28px;
  background-image: url(../img/product-icon1.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(1) .header__info-item-icon {
    width: 33px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(1) .header__info-item-icon {
    width: 44px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(1) .header__info-item-icon {
    width: 63px;
    height: 64px;
  }
}
.header__info-item:nth-child(2) .header__info-item-icon {
  width: 27px;
  height: 28px;
  background-image: url(../img/product-icon2.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(2) .header__info-item-icon {
    width: 33px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(2) .header__info-item-icon {
    width: 44px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(2) .header__info-item-icon {
    width: 63px;
    height: 64px;
  }
}
.header__info-item:nth-child(3) .header__info-item-icon {
  width: 30px;
  height: 28px;
  background-image: url(../img/product-icon3.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(3) .header__info-item-icon {
    width: 36px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(3) .header__info-item-icon {
    width: 47px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(3) .header__info-item-icon {
    width: 65px;
    height: 64px;
  }
}
.header__info-item:nth-child(4) .header__info-item-icon {
  width: 33px;
  height: 28px;
  background-image: url(../img/product-icon4.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(4) .header__info-item-icon {
    width: 41px;
    height: 35px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(4) .header__info-item-icon {
    width: 54px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(4) .header__info-item-icon {
    width: 76px;
    height: 64px;
  }
}
.header__info-item:nth-child(5) .header__info-item-icon {
  width: 37px;
  height: 33px;
  background-image: url(../img/product-icon5.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(5) .header__info-item-icon {
    width: 46px;
    height: 41px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(5) .header__info-item-icon {
    width: 60px;
    height: 54px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(5) .header__info-item-icon {
    width: 85px;
    height: 76px;
  }
}
.header__info-item:nth-child(6) .header__info-item-icon {
  width: 20px;
  height: 28px;
  background-image: url(../img/product-icon6.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(6) .header__info-item-icon {
    width: 25px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(6) .header__info-item-icon {
    width: 33px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(6) .header__info-item-icon {
    width: 45px;
    height: 64px;
  }
}
.header__info-item:nth-child(7) .header__info-item-icon {
  width: 28px;
  height: 28px;
  background-image: url(../img/product-icon7.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(7) .header__info-item-icon {
    width: 34px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(7) .header__info-item-icon {
    width: 44px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(7) .header__info-item-icon {
    width: 63px;
    height: 64px;
  }
}
.header__info-item:nth-child(8) .header__info-item-icon {
  width: 37px;
  height: 28px;
  background-image: url(../img/product-icon8.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(8) .header__info-item-icon {
    width: 45px;
    height: 35px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(8) .header__info-item-icon {
    width: 60px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(8) .header__info-item-icon {
    width: 85px;
    height: 64px;
  }
}
.header__info-item:nth-child(9) .header__info-item-icon {
  width: 29px;
  height: 28px;
  background-image: url(../img/product-icon9.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(9) .header__info-item-icon {
    width: 35px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(9) .header__info-item-icon {
    width: 46px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(9) .header__info-item-icon {
    width: 64px;
    height: 64px;
  }
}
.header__info-item:nth-child(10) .header__info-item-icon {
  width: 29px;
  height: 28px;
  background-image: url(../img/product-icon10.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(10) .header__info-item-icon {
    width: 35px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(10) .header__info-item-icon {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(10) .header__info-item-icon {
    width: 64px;
    height: 64px;
  }
}
.header__info-item:nth-child(11) {
  max-width: 85px;
  min-width: 85px;
}
.header__info-item:nth-child(11) .header__info-item-icon {
  width: 28px;
  height: 28px;
  background-image: url(../img/product-icon11.svg);
}
@media (min-width: 960px) {
  .header__info-item:nth-child(11) .header__info-item-icon {
    width: 34px;
    height: 34px;
  }
}
@media (min-width: 1280px) {
  .header__info-item:nth-child(11) .header__info-item-icon {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1500px) {
  .header__info-item:nth-child(11) .header__info-item-icon {
    width: 64px;
    height: 64px;
  }
}
.header__info-item:hover .header__info-item-text {
  color: #8bc43f;
}
.header__info-item:hover:nth-child(1) .header__info-item-icon {
  background-image: url(../img/product-icon1-hover.svg);
}
.header__info-item:hover:nth-child(2) .header__info-item-icon {
  background-image: url(../img/product-icon2-hover.svg);
}
.header__info-item:hover:nth-child(3) .header__info-item-icon {
  background-image: url(../img/product-icon3-hover.svg);
}
.header__info-item:hover:nth-child(4) .header__info-item-icon {
  background-image: url(../img/product-icon4-hover.svg);
}
.header__info-item:hover:nth-child(5) .header__info-item-icon {
  background-image: url(../img/product-icon5-hover.svg);
}
.header__info-item:hover:nth-child(6) .header__info-item-icon {
  background-image: url(../img/product-icon6-hover.svg);
}
.header__info-item:hover:nth-child(7) .header__info-item-icon {
  background-image: url(../img/product-icon7-hover.svg);
}
.header__info-item:hover:nth-child(8) .header__info-item-icon {
  background-image: url(../img/product-icon8-hover.svg);
}
.header__info-item:hover:nth-child(9) .header__info-item-icon {
  background-image: url(../img/product-icon9-hover.svg);
}
.header__info-item:hover:nth-child(10) .header__info-item-icon {
  background-image: url(../img/product-icon10-hover.svg);
}
.header__info-item:hover:nth-child(11) .header__info-item-icon {
  background-image: url(../img/product-icon11-hover.svg);
}
.header__info-item-text {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  color: white;
  transition: 0.1s;
  text-align: center;
}
@media (min-width: 960px) {
  .header__info-item-text {
    font-size: 11px;
  }
}
@media (min-width: 1280px) {
  .header__info-item-text {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (min-width: 1500px) {
  .header__info-item-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.header__basket_white .header__basket-resault {
  background: white;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
