$orange: #f16e20;
$red: #d20000;
$green: #8bc43f;
$black: #232323;

$a: "Adigiana 2";

body,
html {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

  &.overflow {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;

  &:focus {
    outline: none;
  }
}

.red-btn {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 15px 30px;
  @include flex;
  @include align-center;
  @include justify-center;
  background: $red;
  box-shadow: 2px 2px 0px $black, 4px 4px 0px $red;
  border-radius: 10px;
  @media (max-width: 1500px) {
    font-size: 16px;
    padding: 10px 20px;
  }
  @media (max-width: 961px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
    padding: 6px 10px;
  }
  &:hover {
    box-shadow: none;
    background: lighten($red, 10%);
  }
}

.red2-btn {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 30px;
  @include flex;
  @include align-center;
  background: #d20000;
  box-shadow: 2px 2px 0px #ffffff, 4px 4px 0px #d20000, 6px 6px 0px #ffffff,
    8px 8px 0px #d20000;
  border-radius: 20px;
  @media (max-width: 961px) {
    border-radius: 10px;
  }
  img {
    margin-right: 20px;
  }
  @media (max-width: 1500px) {
    font-size: 16px;
    padding: 10px 20px;
  }
  @media (max-width: 961px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
    padding: 6px 10px;
  }
  &:hover {
    box-shadow: none;
    background: lighten($red, 10%);
  }
}

.green-btn {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 30px;
  @include flex;
  @include align-center;
  background: #8bc43f;
  box-shadow: 2px 2px 0px #ffffff, 4px 4px 0px #8bc43f, 6px 6px 0px #ffffff,
    8px 8px 0px #8bc43f;
  border-radius: 20px;
  @media (max-width: 961px) {
    border-radius: 10px;
  }
  img {
    margin-right: 20px;
  }
  @media (max-width: 1500px) {
    font-size: 16px;
    padding: 10px 20px;
  }
  @media (max-width: 961px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
    padding: 6px 10px;
  }
  &:hover {
    box-shadow: none;
    background: lighten(#8bc43f, 10%);
  }
}

.orange-btn {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 30px;
  @include flex;
  @include align-center;
  background: #ff7726;
  box-shadow: 2px 2px 0px #ffffff, 4px 4px 0px #f16e20, 6px 6px 0px #ffffff,
    8px 8px 0px #ff7726;
  border-radius: 20px;
  @media (max-width: 961px) {
    border-radius: 10px;
  }
  img {
    margin-right: 20px;
  }
  @media (max-width: 1500px) {
    font-size: 16px;
    padding: 10px 20px;
  }
  @media (max-width: 961px) {
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
    padding: 6px 10px;
  }
  &:hover {
    box-shadow: none;
    background: lighten($orange, 10%);
  }
}

.main__title-wrap {
  padding: 20px 15px 10px;
  @media (min-width: 576px) {
    padding-bottom: 20px;
  }
  @media (min-width: 768px) {
    padding: 20px 24px;
  }
  @media (min-width: 1280px) {
    padding: 20px 40px;
  }
  @media (min-width: 1500px) {
    padding: 20px 100px 30px;
  }
  &_black {
    background: $black;
    .main__title {
      color: white;
    }
  }
}

.main__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  @media (min-width: 576px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media (min-width: 768px) {
    font-size: 35px;
    line-height: 40px;
  }
  @media (min-width: 960px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media (min-width: 1280px) {
    font-size: 45px;
    line-height: 55px;
  }
  @media (min-width: 1500px) {
    font-size: 50px;
    line-height: 60px;
  }
}

.breadcrumb-menu {
  @include flex;
  margin-bottom: 10px;
  li {
    margin-right: 35px;
    position: relative;
    z-index: 0;
    &:after {
      content: "";
      width: 14px;
      height: 1px;
      background: #af9a8c;
      position: absolute;
      right: -24px;
      top: 50%;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    a,
    span {
      font-size: 13px;
      color: #af9a8c;
    }
  }
}

.radio-wrap {
  input[type="radio"] {
    display: none;
  }

  input:checked + label {
    color: #000;
    span {
      &:after {
        content: "";
      }
    }
  }

  label {
    @include flex;
    @include align-center;
    font-size: 14px;
    font-weight: bold;
    color: #979797;

    span {
      width: 30px;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      border: 1px solid $orange;
      position: relative;

      &:after {
        content: none;
        position: absolute;
        background: $orange;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-top: -10px;
        margin-left: -10px;
      }
    }
  }
}

.checkbox-wrap {
  label {
    @include flex;
    @include align-center;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    line-height: 19px;
    color: #979797;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }

    input:checked ~ span:after {
      opacity: 1;
    }

    span {
      width: 30px;
      min-width: 30px;
      height: 30px;
      display: inline-block;
      position: relative;
      transition: 0.2s;
      border: 1px solid $orange;
      border-radius: 10px;
      margin-right: 15px;

      @media (max-width: 767px) {
        margin-right: 10px;
      }

      &:after {
        content: "";
        background: url(../img/check.svg) no-repeat center center/cover;
        width: 14px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -6px;
        opacity: 0;
        transition: 0.2s;
      }
    }
  }
}

.select-wrap {
  position: relative;
  width: 100%;

  select {
    display: none;
  }

  .select2 {
    position: relative;
    width: 100% !important;
    height: 100%;

    .selection {
      width: 100%;
    }
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0;
    height: 100%;
    &[aria-expanded="true"] {
      .select2-selection__rendered {
        border-radius: 12px 12px 0 0;
        @media (min-width: 960px) {
          border-radius: 20px 20px 0 0;
        }
      }
    }

    &:focus {
      outline: none;
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    font-weight: 700;
    color: $black;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    @media (min-width: 960px) {
      height: 54px;
      line-height: 54px;
      border-radius: 20px;
      font-size: 14px;
    }
  }

  .select2-selection__arrow {
    width: 14px !important;
    height: 8px !important;
    top: 50% !important;
    @include flex;
    @include align-center;
    @include justify-center;
    right: 15px !important;
    transform: translateY(-50%);
    z-index: 1 !important;
    background-color: transparent;

    b {
      background: url(../img/select-arrow.svg) no-repeat center center;
      width: 14px !important;
      height: 8px !important;
      border: none !important;
      margin: 0 !important;
      position: static !important;
    }
  }

  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    background: url(../img/select-arrow.svg) no-repeat center center;
    width: 14px !important;
    height: 8px !important;
    border: none !important;
    transform: rotate(180deg);
  }
}

.select2-dropdown {
  border: none !important;
  font-size: 12px;
  background: #fff;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  font-size: 12px;
  background: none;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  color: $black;
  font-size: 12px;
  background: $green;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
}

.select2-results__options {
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  padding: 0;
  max-height: inherit !important;
}

.select2-results__option {
  font-size: 12px;
  color: $black;
  height: 40px;
  background: #fff;
  white-space: nowrap;
  padding: 12px 15px;
  transition: 0.3s;
  @include flex;
  @include align-center;
  position: relative;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-selection__placeholder {
  font-weight: normal;
  color: green !important;
}

.select2-search__field {
  border: none !important;
}

.select2-search--dropdown {
  border: none;
}

.ordering__form-receiving-tab-menu {
  @include flex;

  li {
    position: relative;

    a {
      color: #000;
    }

    &.active {
      a {
        color: red;
      }
    }
  }
}

.tab-menu {
  @include flex;

  li {
    position: relative;

    a {
      color: #000;
    }

    &.active {
      a {
        color: red;
      }
    }
  }
}

.tab-content {
  .tab-content-item {
    height: 0px;
    overflow: hidden;
    @include flex;

    &.active {
      height: auto;
      overflow: visible;
    }
  }
}

.cost-delivery {
  padding: 0 100px;
  margin-bottom: 80px;
  @media (max-width: 1500px) {
    padding: 0 40px;
  }
  @media (max-width: 1280px) {
    padding: 0 24px;
  }
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  &__table {
    background: #ffffff;
    border-radius: 40px;
    padding: 30px;
    @media (max-width: 960px) {
      padding: 20px;
      border-radius: 20px;
    }
    @media (max-width: 767px) {
      min-width: 700px;
      width: 100%;
      padding: 0;
      overflow-x: auto;
    }
    &-head {
      background: #232323;
      border-radius: 20px;
      @include align-center;
      padding: 25px 40px;
      @include flex;
      @media (max-width: 960px) {
        padding: 20px;
      }
      @media (max-width: 767px) {
        padding: 15px 10px;
        border-radius: 0;
      }
    }
    &-body {
      padding: 15px 0;
      &-item {
        border-bottom: 1px solid #d9d9d9;
        width: 100%;
        @include flex;
        padding: 15px 40px;
        @media (max-width: 960px) {
          padding: 15px 20px;
        }
        @media (max-width: 767px) {
          padding: 15px 10px;
        }
      }
    }
    &-wrap {
      @media (max-width: 767px) {
        overflow-x: auto;
      }
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    @media (max-width: 960px) {
      font-size: 40px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 20px;
    }
  }
  &__name {
    font-size: 20px;
    color: white;
    font-weight: 700;
    @media (max-width: 1280px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    &:nth-child(1) {
      width: 40%;
      @media (max-width: 960px) {
        width: 30%;
      }
      @media (max-width: 767px) {
        width: 160px;
      }
    }
    &:nth-child(2) {
      width: 20%;
      @media (max-width: 960px) {
        width: 25%;
      }
      @media (max-width: 767px) {
        width: 160px;
      }
    }
    &:nth-child(3) {
      width: 20%;
      @media (max-width: 960px) {
        width: 25%;
      }
      @media (max-width: 767px) {
        width: 160px;
      }
    }
    &:nth-child(4) {
      width: 20%;
      @media (max-width: 767px) {
        width: 160px;
      }
    }
  }
  &__name2 {
    font-size: 17px;
    color: black;
    font-weight: 400;
    @media (max-width: 960px) {
      font-size: 16px;
      padding-right: 10px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    &:nth-child(1) {
      width: 40%;
      @media (max-width: 960px) {
        width: 30%;
      }
      @media (max-width: 767px) {
        width: 160px;
      }
    }
    &:nth-child(2) {
      width: 20%;
      @media (max-width: 960px) {
        width: 25%;
      }
      @media (max-width: 767px) {
        width: 160px;
      }
    }
    &:nth-child(3) {
      width: 20%;
      @media (max-width: 960px) {
        width: 25%;
      }
      @media (max-width: 767px) {
        width: 160px;
      }
    }
    &:nth-child(4) {
      width: 20%;
      @media (max-width: 767px) {
        width: 160px;
      }
    }
  }

  &__wrap {
    background: #d9d9d9;
    border-radius: 40px;
    padding: 60px;
    padding-bottom: 80px;
    @media (max-width: 1280px) {
      padding: 60px 20px;
    }
    @media (max-width: 767px) {
      padding: 30px 15px;
    }
  }
}

.promotions {
  background: $black;
  padding: 100px;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 30px;
  @media (max-width: 1500px) {
    padding: 0 40px 60px;
  }
  @media (max-width: 1280px) {
    padding: 0 24px 60px;
  }
  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  @media (max-width: 767px) {
    padding: 0 20px 50px;
  }
  &__img-wrap {
    @include flex;
    position: relative;
    margin-bottom: 30px;
    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }
    .img {
      @include flex;
      width: 100%;
      @media (max-width: 767px) {
        min-height: 200px;
      }
    }
    img {
      width: 100%;
    }
  }
  &__texts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
  }
  &__title {
    font-size: 100px;
    line-height: 80%;
    font-family: $a;
    max-width: 370px;
    color: white;
    margin-bottom: 40px;
    @media (max-width: 1500px) {
      font-size: 60px;
      line-height: 50px;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 80%;
      margin-bottom: 10px;
    }
    .price {
      font-family: $a;
    }
    &_small {
      font-size: 60px;
      line-height: 50px;
      @media (max-width: 1280px) {
        font-size: 40px;
        line-height: 40px;
      }
      @media (max-width: 767px) {
        font-size: 30px;
        line-height: 90%;
      }
    }
  }
  &__order {
    font-size: 20px;
    color: white;
    font-weight: bold;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__name {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: white;
    @media (max-width: 1500px) {
      font-size: 30px;
      line-height: 120%;
    }
    @media (max-width: 1280px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: #af9a8c;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.team-info {
  background: #232323;
  @include flex;
  padding-left: 100px;
  @media (max-width: 1501px) {
    padding-left: 40px;
  }
  @media (max-width: 1200px) {
    @include dir-col;
    padding: 40px;
    padding-top: 20px;
  }
  @media (max-width: 960px) {
    padding: 24px 20px;
  }

  &__texts {
    width: 630px;
    margin-right: 90px;
    @media (max-width: 1501px) {
      margin-right: 30px;
    }
    @media (max-width: 1200px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
    color: #8bc43f;
    @media (max-width: 960px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding-left: 100px;
    @media (max-width: 1501px) {
      padding-left: 140px;
    }
    @media (max-width: 1200px) {
      padding: 0;
    }
    @media (max-width: 960px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__img {
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    margin-top: -250px;
    @media (max-width: 1200px) {
      margin: 0;
      height: 50vw;
    }
    @media (max-width: 960px) {
      height: 80vw;
    }
  }
}

.chef {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 1180px;
  padding: 300px 150px;
  @include flex;
  @media (max-width: 1501px) {
    padding-top: 200px;
    padding-right: 50px;
  }
  @media (max-width: 1200px) {
    min-height: auto;
  }
  @media (max-width: 960px) {
    padding: 100px 20px;
    position: relative;
    z-index: 0;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      background: rgba(black, 0.6);
    }
  }
  &__style-img {
    position: absolute;
    top: 35%;
    left: 0;
    @media (max-width: 1200px) {
      display: none;
    }
    @media (max-width: 960px) {
      display: none;
    }
  }
  &__style-img2 {
    position: absolute;
    bottom: 40px;
    left: -170px;
    @media (max-width: 1200px) {
      width: 330px;
      left: -120px;
      bottom: 0;
    }
    @media (max-width: 960px) {
      display: none;
    }
  }
  &__info {
    margin-left: auto;
  }
  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    max-width: 400px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 1501px) {
      font-size: 60px;
      line-height: 120%;
      max-width: 440px;
      margin-left: auto;
    }
    @media (max-width: 1200px) {
      font-size: 50px;
    }
    @media (max-width: 960px) {
      font-size: 40px;
    }
    &_style {
      position: absolute;
      top: -90px;
      left: -200px;
      font-size: 600px;
      line-height: 600px;
      color: #8bc43f;
      @media (max-width: 1501px) {
        width: 120px;
        top: -50px;
        left: -140px;
      }
      @media (max-width: 1200px) {
        width: 100px;
        left: -120px;
        top: -40px;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
  &__texts {
    @include flex;
    position: relative;
    z-index: 0;
    @media (max-width: 960px) {
      @include dir-col;
    }
    &-one {
      font-size: 40px;
      line-height: 46px;
      color: $orange;
      margin-right: 50px;
      max-width: 250px;
      @media (max-width: 1200px) {
        margin-right: 0;
        font-size: 34px;
        line-height: 40px;
      }
      @media (max-width: 960px) {
        font-size: 26px;
        line-height: 110%;
        margin: 0;
        margin-bottom: 30px;
      }
    }
    &-two {
      max-width: 433px;
      font-size: 20px;
      line-height: 30px;
      color: white;
      @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 130%;
      }
    }
  }
}

#order-call-popup,
#gift-popup {
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
  .popup-body {
    background: #ffffff;
    box-shadow: 0px 20px 80px #f16e20;
    border-radius: 40px;
    position: relative;
    padding: 80px;
    @media (max-width: 960px) {
      padding: 60px 20px;
    }
    .mfp-close {
      position: absolute;
      width: 25px;
      height: 25px;
      right: 30px;
      top: 30px;
      opacity: 1;
      &:after {
        content: "";
        background: url(../img/close-popup.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .popup-info {
      &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px;
        @media (max-width: 960px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      &__form {
        width: 100%;
        @include flex;
        @include dir-col;
        .checkbox-wrap {
          margin-top: 20px;
          p {
            a {
              color: #979797;
            }
          }
        }
        input {
          border: 1px solid #d9d9d9;
          border-radius: 20px;
          margin-bottom: 20px;
          height: 54px;
          padding: 0 15px;
          font-weight: bold;
          color: #979797;
          font-size: 14px;
        }
        button {
          font-size: 30px;
          margin-top: 40px;
          height: 90px;
          box-shadow: 2px 2px 0px #83892e, 4px 4px 0px #d20000;
          @media (max-width: 960px) {
            font-size: 22px;
            height: 60px;
          }
        }
      }
    }
  }
}

#gift-popup {
  max-width: 1180px;
  .popup-body {
    @media (max-width: 1200px) {
      padding: 60px 20px;
    }
  }
  .gift-popup-info {
    &__title {
      @include flex;
      @include align-center;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 40px;
      @media (max-width: 1200px) {
        font-size: 40px;
        line-height: 110%;
      }
      img {
        width: 44px;
        margin-right: 20px;
      }
    }
    &__subtitle {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 40px;
      color: #2e2e2e;
      max-width: 1000px;
      @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    .gift-info-item {
      @include flex;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        @include dir-col;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &__green-text {
        color: $green;
      }
      &__red-text {
        color: #d20000;
      }
      &__orange-text {
        color: $orange;
      }
      &__text {
        width: 220px;
        margin-right: 30px;
        position: relative;
        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 30px;
          margin-right: 0;
        }
        img {
          margin-left: -40px;
          @media (max-width: 1200px) {
            margin-left: -15px;
          }
          @media (max-width: 767px) {
            width: 90px;
            margin: 0;
          }
        }
        span {
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
          position: absolute;
          top: 0;
          left: 0;
          @media (max-width: 1200px) {
            font-size: 32px;
            line-height: 110%;
          }
          @media (max-width: 767px) {
            font-size: 24px;
          }
        }
      }
      &__products {
        width: calc(100% - 250px);
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
          width: 100%;
          gap: 20px;
        }
      }
      &__product {
        background: #ffffff;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        padding: 15px;
        img {
          width: 100%;
          margin-bottom: 15px;
        }
        span {
          font-weight: 700;
          font-size: 17px;
          line-height: 20px;
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
