$orange: #f16e20;
$red: #d20000;
$green: #8bc43f;
$black: #232323;

$a: "Adigiana 2";

body,
html {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

  &.overflow {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;

  &:focus {
    outline: none;
  }
}

.breadcromb-menu {
  @include flex;
  margin-bottom: 10px;
  li {
    margin-right: 35px;
    position: relative;
    z-index: 0;
    &:after {
      content: "";
      width: 14px;
      height: 1px;
      background: #af9a8c;
      position: absolute;
      right: -24px;
      top: 50%;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    a,
    span {
      font-size: 13px;
      color: #af9a8c;
    }
  }
}

.radio-wrap {
  input[type="radio"] {
    display: none;
  }

  input:checked + label {
    color: #000;
    span {
      &:after {
        content: "";
      }
    }
  }

  label {
    @include flex;
    @include align-center;
    font-size: 14px;
    font-weight: bold;
    color: #979797;

    span {
      width: 30px;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      border: 1px solid $orange;
      position: relative;

      &:after {
        content: none;
        position: absolute;
        background: $orange;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-top: -10px;
        margin-left: -10px;
      }
    }
  }
}

.checkbox-wrap {
  label {
    @include flex;
    @include align-center;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    line-height: 19px;
    color: #979797;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }

    input:checked ~ span:after {
      opacity: 1;
    }

    span {
      width: 30px;
      min-width: 30px;
      height: 30px;
      display: inline-block;
      position: relative;
      transition: 0.2s;
      border: 1px solid $orange;
      border-radius: 10px;
      margin-right: 15px;

      @media (max-width: 767px) {
        margin-right: 10px;
      }

      &:after {
        content: "";
        background: url(../img/check.svg) no-repeat center center/cover;
        width: 14px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -6px;
        opacity: 0;
        transition: 0.2s;
      }
    }
  }
}

.select-wrap {
  position: relative;
  width: 100%;

  select {
    display: none;
  }

  .select2 {
    position: relative;
    width: 100% !important;
    height: 100%;

    .selection {
      width: 100%;
    }
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0;
    height: 100%;
    &[aria-expanded="true"] {
      .select2-selection__rendered {
        border-radius: 12px 12px 0 0;
        @media (min-width: 960px) {
          border-radius: 20px 20px 0 0;
        }
      }
    }

    &:focus {
      outline: none;
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    font-weight: 700;
    color: $black;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    @media (min-width: 960px) {
      height: 54px;
      line-height: 54px;
      border-radius: 20px;
      font-size: 14px;
    }
  }

  .select2-selection__arrow {
    width: 14px !important;
    height: 8px !important;
    top: 50% !important;
    @include flex;
    @include align-center;
    @include justify-center;
    right: 15px !important;
    transform: translateY(-50%);
    z-index: 1 !important;
    background-color: transparent;

    b {
      background: url(../img/select-arrow.svg) no-repeat center center;
      width: 14px !important;
      height: 8px !important;
      border: none !important;
      margin: 0 !important;
      position: static !important;
    }
  }

  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    background: url(../img/select-arrow.svg) no-repeat center center;
    width: 14px !important;
    height: 8px !important;
    border: none !important;
    transform: rotate(180deg);
  }
}

.select2-dropdown {
  border: none !important;
  font-size: 12px;
  background: #fff;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  font-size: 12px;
  background: none;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  color: $black;
  font-size: 12px;
  background: $green;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
}

.select2-results__options {
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  padding: 0;
  max-height: inherit !important;
}

.select2-results__option {
  font-size: 12px;
  color: $black;
  height: 40px;
  background: #fff;
  white-space: nowrap;
  padding: 12px 15px;
  transition: 0.3s;
  @include flex;
  @include align-center;
  position: relative;
  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.select2-selection__placeholder {
  font-weight: normal;
  color: green !important;
}

.select2-search__field {
  border: none !important;
}

.select2-search--dropdown {
  border: none;
}

.ordering__form-receiving-tab-menu {
  @include flex;

  li {
    position: relative;

    a {
      color: #000;
    }

    &.active {
      a {
        color: red;
      }
    }
  }
}

.tab-menu {
  @include flex;

  li {
    position: relative;

    a {
      color: #000;
    }

    &.active {
      a {
        color: red;
      }
    }
  }
}

.tab-content {
  .tab-content-item {
    height: 0px;
    overflow: hidden;
    @include flex;

    &.active {
      height: auto;
      overflow: visible;
    }
  }
}
