.bg-product_icon4 {
  width: 76px;
  height: 64px;
  background: url("../img/css_sprites.png") -222px -10px;
}

.bg-product_icon4_hover {
  width: 76px;
  height: 64px;
  background: url("../img/css_sprites.png") -222px -94px;
}

.bg-product_icon5 {
  width: 86px;
  height: 77px;
  background: url("../img/css_sprites.png") -10px -10px;
}

.bg-product_icon5_hover {
  width: 86px;
  height: 77px;
  background: url("../img/css_sprites.png") -116px -10px;
}

.bg-product_icon6 {
  width: 46px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -359px;
}

.bg-product_icon6_hover {
  width: 46px;
  height: 64px;
  background: url("../img/css_sprites.png") -76px -359px;
}

.bg-product_icon8 {
  width: 85px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -107px;
}

.bg-product_icon8_hover {
  width: 85px;
  height: 64px;
  background: url("../img/css_sprites.png") -115px -107px;
}

.bg-product_icon9 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -182px -191px;
}

.bg-product_icon9_hover {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -318px -10px;
}

.bg-product_icon10 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -318px -94px;
}

.bg-product_icon10_hover {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -318px -178px;
}

.bg-product_icon11 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -275px;
}

.bg-product_icon11_hover {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites.png") -94px -275px;
}

.bg-arrow_left_small {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -266px -236px;
}

.bg-arrow_right_small_white {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -344px -320px;
}

.bg-arrow_left_small_white {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -371px -320px;
}

.bg-arrow_right_small {
  width: 7px;
  height: 12px;
  background: url("../img/css_sprites.png") -212px -359px;
}

.bg-arrow_left {
  width: 15px;
  height: 25px;
  background: url("../img/css_sprites.png") -142px -359px;
}

.bg-arrow_left_white {
  width: 16px;
  height: 25px;
  background: url("../img/css_sprites.png") -266px -191px;
}

.bg-arrow_right {
  width: 15px;
  height: 25px;
  background: url("../img/css_sprites.png") -177px -359px;
}

.bg-arrow_right_white {
  width: 16px;
  height: 25px;
  background: url("../img/css_sprites.png") -344px -275px;
}

.bg-product_icon1 {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -178px -275px;
}

.bg-product_icon1_hover {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -261px -275px;
}

.bg-product_icon2 {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -10px;
}

.bg-product_icon2_hover {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -94px;
}

.bg-product_icon3 {
  width: 66px;
  height: 64px;
  background: url("../img/css_sprites.png") -10px -191px;
}

.bg-product_icon3_hover {
  width: 66px;
  height: 64px;
  background: url("../img/css_sprites.png") -96px -191px;
}

.bg-product_icon7_hover {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -178px;
}

.bg-product_icon7 {
  width: 63px;
  height: 64px;
  background: url("../img/css_sprites.png") -402px -262px;
}
